body{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: rgb(0, 43, 38);
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

nav{
    width:100%;
    background: black;
    overflow: auto;
    
    
}
.navbar ul{
    padding:0px 100px;
    margin:0px;
    list-style:none;
    text-align: center;
    display: flex;
    float: right;
}


.logo img{
    position:absolute;
    margin-top: 6px;
    margin-left: 22px;
    width:100px;
    height:auto;
}
nav a{
    width: 180px;
    display:block;
    padding: 35px 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
    text-align:center;
    font-size:19px;
    
    
}
nav a:hover {
    background: gray;
    transition: 0.4s;

}

.dropdown {
    float:right;
    overflow:hidden;
    
 }
  
  .dropdown .dropbtn {  
    border: none;
    padding:0px;
    background-color: inherit;
    font-family: 'roboto';
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(194, 193, 193);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: auto;
  }
  
  .dropdown-content a{
    float: none;
    color: black;
    padding: 6px 4px;
    text-decoration: none;
    display: flex;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
  }

.benmain{
    background-image: url(../Images/benthota.jpg);
    height: 360px;
    background-position: left 50%;
    background-size:cover ;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: -21px;
}

.benturtles{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.benturtles h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
   color: aqua;
   text-shadow: #f2f2f2;
}

.hisben h1{
    font-size: 40px;
    font-weight:250px;
    text-align: center;
    color: #fff;
    text-decoration: line-through;
}

.hisben{
    display: block;
    margin-top: 4vh;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 20px
}

.mainaboutben h1{
    font-size: 40px;
    font-weight:250px;
    text-align: justify;
    color: #fff;
}

.mainaboutben{
    display: flex;
    margin-top: 4vh;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 30px
}
.mainaboutben .aboutben{
    width: 45%;
}

.bentotam {
    width: 50%;
}

.bentotam iframe{
    margin-left: 45px;
    margin-top: 30px;
    width:720px;
    height:320px;
    border-radius: 10px;
}

.hisben img {
    width:1350px ;
    height:450px ;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.hisben img:hover{
    transform: scale(1.1);
    z-index: 2;
    transition-duration: 2.6s;
}

.seaturtlesmain12 h1{
    font-size: 40px;
    font-weight:250px;
    text-align: justify;
    color: #fff;
    text-decoration: underline;
    
}
.seaturtlesmain12{
    display: flex;
    margin-top: 4vh;
    margin-left: 50px;
    margin-right: 50px;
    text-align:justify;
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 20px;
    
}

.seaturtlesmain12 .seaturtles2{
    width: 55%;
}

.sea12{
    width: 60%;
}
.sea12 img{
    margin-left: 140px;
    margin-top: 70px;
    width:550px;
    height:300px;
    border-radius: 10px; 
}

.sea12 img:hover{
    transform: scale(1.1);
    z-index: 2;
    transition-duration: 0.6s;
}






#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }






/* Footer */

.footer-session, .copyright-session{
    width: 100%;
    background: #000000;
    color: #eee;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
    width: auto;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    position: relative; 
}

.footer a{
    color: #eee;
    text-decoration: none;
}

.footer a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer .group1{
    width:300px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 40px;
}

.footer .group2{
    width:300px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    margin-left: 40px;
}

.footer .group3{
    width:300px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
    margin-left: -10px;

}

.footer .group4{
    width:300px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 55px;
}

.footer .title3{
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #fff;
    margin-top: -20px;
    margin-left: -50px;
}

.footer .title2{
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin-left:1px;
    margin-top: -40px;
    
}

.footer h2.titles{
    color: aqua;
    margin-top: -10px;
    margin-left: -80px;
}

.footer .intro1{
    display:-webkit-box;
    text-align: justify;
    overflow:hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.6;
    margin-top: 0px;
    margin-left:-80px;
} 

.footer .intro2{
        display:-webkit-box;
        overflow:hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 1.6;
        margin-top: 20px;
        margin-left:-50px;
}

.footer .follow-button{
    display: flex;
    margin-top: 30px;
    margin-left: -80px;
    
}

.follow-button a{
    width: 38px;
    height: 38px;
    background: #b6b6b6;
    margin: 8px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.follow-button a:hover{ 
    background: #fff;
}

.footer .link{
    color: #eee;
    margin-bottom: 10px;
}

.footer .link:hover{
    color: #00e1ff;
}

.footer .input-box{
    position: relative;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
}

.footer .input-box .icon{
    fill: #eee;
    margin: -40px;
    position: absolute;
}

.footer .input-box input{
    width: -webkit-fill-available;
    background: transparent;
    color: #eee;
    padding: 5px 5px 5px 40px;
    border: none;
    outline: none;
    margin-right: 50px;
    margin-left: -45px;
    height: 30px;
    border-bottom: solid 2px #eee;
    
}

/* Copyright Session */
.copyright-session{
    background-color: #0c0c0c;
    color: #eee;
}
.copyright-session .copyright{
    padding: 10px 0;
    display: block;
    text-align: center;

}


@media screen and (max-width:1050px) {

    .barr{
	display:none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.hamburger-menu{
    position: absolute;
    z-index: 9;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:  rgb(0, 0, 0);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fffdfd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.logo img{
    margin-left: 275px;

}
}


@media screen and (max-width: 450px) {

.benturtles h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
   color: aqua;
   text-shadow: #f2f2f2;
   margin-top: -65%;
}

.hisben h1{
    font-size: 30px;
    font-weight:250px;
    text-align: center;
    color: #fff;
    text-decoration: underline;
}

.hisben{
    display: block;
    margin-top: 4vh;
    margin-left: px;
    margin-right: 50px;
    text-align: justify;
    color: #f2f2f2;
    font-size: 15px;
    margin-top: 20px
}

.mainaboutben h1{
    font-size: 30px;
    font-weight:250px;
    text-align: center;
    color: #fff;
    width: 300px;
}

.mainaboutben{
    display: grid;
    margin-top: 4vh;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: #f2f2f2;
    font-size: 15px;
    margin-top: 30px;
}

.aboutben p{
    width: 300px;
}

.bentotam iframe{
    margin-left: -25px;
    margin-top: 30px;
    width:340px;
    height:220px;
    border-radius: 10px;;
}

.hisben img {
    display: grid;
    width:350px ;
    height:240px ;
    margin-top: 30px;
    margin-left: -30px;
    margin-right: auto;
    border-radius: 50px;
}

.seaturtlesmain12 h1{
    font-size: 30px;
    font-weight:250px;
    text-align: center;
    color: #fff;
    width: 300px;
}

.seaturtlesmain12 h2{
    font-size: 25px;
    width: 300px;
}
.seaturtlesmain12{
    display: grid;
    text-align:justify;
    margin-top: 20px;
    font-size: 15px; 
}

.seaturtlesmain12 p{
    width: 300px;
}



.sea12 img{
    margin-left: -30px;
    margin-top: 70px;
    width:350px;
    height:200px;
    border-radius: 10px;  
}
}

















@media screen and (max-width: 450px) {
    
    /*Footer*/
    
    .footer{
        width: 90%;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .footer h2.titles{
        width: 280px;
        margin-left: -35px;
    }
    .footer .intro1{
        margin-left: -32px;
    }
    .footer .follow-button{
        margin-left: -30px;
    }
    .footer .group2{
        margin-right: 240px;
        margin-top: 5px;
        
    }
    .footer .title2{
        width: 280px;
        margin-top: -20px;
        margin-left:0px;
    }
    .footer .group3{
        margin-right: 50px;
        margin-top: 50px;
    }
    .footer .title3{
        margin-right: 50px;
        margin-left: -30px;
        margin-top:-30px;
        width: 280px;
    }
    .footer .intro2{
        margin-left: -30px;
        margin-top: 10px;
    }
    .footer .input-box .icon{
        margin-left: -25px;
    }
    .footer .input-box input{
        margin-left: -28px;
    }
}

